@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');

:root {
    --primary-color: #6290c8;
    --secondary-color: #e7e8e7;
    --accent1-color: #f3f7f0;
    --accent2-color: #e0fbfc;

    --heading-font: 'waterfall', serif;
    --paragraph-font: 'time-new-romans', serif;

    --nav-background-color: #6bdfff;
    --nav-link-color: #6aabff;
    --nav-hover-link-color: #e8d6cb;
    --nav-hover-background-color: #c5a48a;
}

body {
    font-size: var(--heading-font);
    max-width: 920px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: xxx-large;
}

h1 {
    position: absolute;
    height: 50px;
    width: 100px;
    top: 230px;
    right: 950px;
    float: right;
    color: black;
}

article {
    position: absolute;
    top: 400px;
    right: 550px;
    width: 300px;
    color: black;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.image {
    float: right;
    margin-right: 0px;
    background-color: rgba(255,255,255,0.5);
}

.p {
    margin-left: -550px;
    background-color: rgba(13, 45, 224, 0.5);
}



