@import url('https://fonts.google.com/specimen/Waterfall?query=waterfall');
body {
    font-family: var(waterfall);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #6290c8;
    --secondary-color: #e7e8e7;
    --accent1-color: #f3f7f0;
    --accent2-color: #e0fbfc;

    --heading-font: 'waterfall', serif;
    --paragraph-font: 'time-new-romans', serif;

    --nav-background-color: #6bdfff;
    --nav-link-color: #6aabff;
    --nav-hover-link-color: #e8d6cb;
    --nav-hover-background-color: #c5a48a;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
